---
layout: default
title: Startseite
---

<h2 class="text-center">Unser Service</h2><br />

<div class="card-deck text-center">

  <div class="card mb-3 shadow-sm border-primary">
    <div class="card-header">
      <i class="icss-spinner x2"></i>
    </div>
    <div class="card-body">
      <h3 class="card-title">
        <strong>
          Starthilfe
        </strong>
      </h3>
      <ul class="list-unstyled mt-3 mb-4">
        <li>
          Ihr Computer ist langsam oder startet nicht mehr? Wir bringen ihn zum Laufen!
        </li>
      </ul>
    </div>
  </div>

  <br />

  <div class="card mb-3 shadow-sm border-primary">
    <div class="card-header">
      <i class="icss-windows x2"></i>
    </div>
    <div class="card-body">
        <h3 class="card-title">
          <strong>
            Beratung
          </strong>
        </h3>
        <ul class="list-unstyled mt-3 mb-4">
            <li>
              Sie brauchen gezielte Hilfe beim Umgang mit Programmen? Wir helfen gerne!
            </li>
        </ul>
    </div>
  </div>

  <br />

  <div class="card mb-3 shadow-sm border-primary">
    <div class="card-header">
      <i class="icss-nuclear x2"></i>
    </div>
    <div class="card-body">
        <h3 class="card-title">
          <strong>
            Bereinigung
          </strong>
        </h3>
        <ul class="list-unstyled mt-3 mb-4">
            <li>
              Ihr Gerät ist von Viren befallen? Wir bereinigen Ihren PC und stellen den Virenschutz richtig ein!
            </li>
        </ul>
    </div>
  </div>

  <br />

  <div class="card mb-3 shadow-sm border-primary">
    <div class="card-header">
      <i class="icss-question x2"></i>
    </div>
    <div class="card-body">
      <h3 class="card-title">
        <strong>
          Ratschläge
        </strong>
      </h3>
      <ul class="list-unstyled mt-3 mb-4">
        <li>
          Sie haben ein anderes Anliegen? Für Sie suchen wir nach Lösungen! In unserer <a href="service.html">detaillierten Liste</a> finden Sie Ihr Computerproblem sicherlich wieder!
        </li>
      </ul>
    </div>
  </div>

  <br />

</div>

<br />

<p class="lead">
  Als zwei versierte Schüler haben wir uns schon mit tausenden Computerproblemen beschäftigt. Wir sind sehr sicher, dass wir Ihres auch lösen können, da wir viel Erfahrung mitbringen!
</p>

<br id="kontakt"><hr><br />

<h2 class="text-center">Rufen Sie uns an!</h2>

<br />

<div class="alert alert-primary">
  <p class="lead">
    In Schwedt und Umgebung erledigen wir <a href="index.html#service">das alles</a> und viel mehr mit hoher Genauigkeit vor Ihren Augen, sodass Sie nichts zu befürchten haben. Unser Ziel ist es, dass Sie Ihren PC wieder schnell und ohne Probleme nutzen können und diese nicht mehr auftreten!
  </p>
</div>

<div class="text-center">
  <a class="btn btn-warning justify-content-end font-weight-bold p-0" href="tel:+491632539480" role="button">
      <label for="show" class="p-2 m-0">
        <span>
          <i class="icss-phone"></i> 0163 2539480
        </span>
      </label>
    </a>
  <br />
  <small>
    anrufen oder eine E-Mail an kontakt@nachbarschafts-pc-hilfe.de schreiben
  </small>
</div>

<br id="meinungen"><hr><br />

<h2 class="text-center">Wo wir schon unter anderem geholfen haben</h2>

<br />

<div class="row">

  <div class="text-center col-lg-4">
    <div class="fixed-height-container-l">
      <amp-img class="contain" alt="{{site.posts[0].title}}" layout="fill" src="/img/fallback/{{site.posts[0].image}}.png"></amp-img>
    </div>
    <blockquote>
      <br />
      <footer class="blockquote-footer">
        <cite title="{{site.posts[0].title}} — {{site.posts[0].day}}">
          {{site.posts[0].title}} — {{site.posts[0].day}}
        </cite>
      </footer>
      <br />
      <article>
        {{site.posts[0].content}}
      </article>
    </blockquote>
    <br />
  </div>

  <div class="text-center col-lg-4">
    <div class="fixed-height-container-l">
      <amp-img class="contain" alt="{{site.posts[1].title}}" layout="fill" src="/img/fallback/{{site.posts[1].image}}.png"></amp-img>
    </div>
    <blockquote>
      <br />
      <footer class="blockquote-footer">
        <cite title="{{site.posts[1].title}} — {{site.posts[1].day}}">
          {{site.posts[1].title}} — {{site.posts[1].day}}
        </cite>
      </footer>
      <br />
      <article>
        {{site.posts[1].content}}
      </article>
    </blockquote>
    <br />
  </div>

  <div class="text-center col-lg-4">
    <div class="fixed-height-container-l">
      <amp-img class="contain" alt="{{site.posts[2].title}}" layout="fill" src="/img/fallback/{{site.posts[2].image}}.png"></amp-img>
    </div>
    <blockquote>
      <br />
      <footer class="blockquote-footer">
        <cite title="{{site.posts[2].title}} — {{site.posts[2].day}}">
          {{site.posts[2].title}} — {{site.posts[2].day}}
        </cite>
      </footer>
      <br />
      <article>
        {{site.posts[2].content}}
      </article>
    </blockquote>
    <br />
  </div>

</div>

<div class="text-center">
  <a class="btn btn-primary" href="/meinungen.html" role="button">
    Klicken Sie hier, um {{ site.posts | size | minus: 3 }} weitere Meinungen zu lesen.
  </a>
</div>

<br id="bekanntaus"><hr><br />

<h2 class="text-center">Wir sind bekannt aus</h2><br />

<div class="card-deck">

  <div class="card mb-3 shadow-sm border-primary">
    <div class="card-header" style="text-align:center">
      <amp-img alt="Märkische Oderzeitung (Angermünde/Schwedt)" layout="responsive" width="600" height="140" src="/img/moz.webp">
        <amp-img fallback alt="Märkische Oderzeitung (Angermünde/Schwedt)" layout="responsive" width="600" height="140" src="/img/fallback/moz.png"></amp-img>
      </amp-img>
    </div>
    <div class="card-body">
      <h3 class="card-title h5">
        Märkische Oderzeitung (Angermünde/Schwedt)
      </h3>
      <p class="card-text">
        „Wir gründen unsere Firma mit 18“ — <a href="https://www.moz.de/landkreise/uckermark/schwedt-und-angermuende/artikel90/dg/0/1/1718069/">Klicken Sie hier, um diesen Artikel online zu lesen!</a>
      </p>
      <p class="card-text">
        <small class="text-muted">
          veröffentlicht am 23.03.2019
        </small>
      </p>
    </div>
  </div>

  <br /><br />

  <div class="card mb-3 shadow-sm border-primary">
    <div class="card-header" style="text-align:center">
      <amp-img alt="rbb Fernsehen (Brandenburg Aktuell)" layout="responsive" width="317" height="140" src="/img/rbb.webp">
        <amp-img fallback alt="rbb Fernsehen (Brandenburg Aktuell)" layout="responsive" width="317" height="140" src="/img/fallback/rbb.png"></amp-img>
      </amp-img>
    </div>
    <div class="card-body">
      <h3 class="card-title h5">
        rbb Fernsehen (Brandenburg Aktuell)
      </h3>
      <p class="card-text">
        „Computerfreaks aus Schwedt“ — <a href="https://mediathek.rbb-online.de/tv/Brandenburg-aktuell/Computerfreaks-aus-Schwedt/rbb-Fernsehen/Video?bcastId=3822126&documentId=61037710">Klicken Sie hier, um diesen Videobeitrag online zu sehen!</a>
      </p>
      <p class="card-text">
        <small class="text-muted">
          veröffentlicht am 11.03.2019
        </small>
      </p>
    </div>
  </div>

  <br /><br />

  <div class="card mb-3 shadow-sm border-primary">
    <div class="card-header" style="text-align:center">
      <amp-img alt="Unternehmervereinigung Uckermark e. V." layout="fixed" width="118" height="140" src="/img/uv.webp">
        <amp-img fallback alt="Unternehmervereinigung Uckermark e. V." layout="fixed" width="118" height="140" src="/img/fallback/uv.png"></amp-img>
      </amp-img>
    </div>
    <div class="card-body">
      <h3 class="card-title h5">
        Unternehmervereinigung Uckermark e. V.
      </h3>
      <p class="card-text">
        „Unternehmervereinigung unterstützt Schüler!“ — <a href="https://www.uv-uckermark.de/64-lokales/uckermark/576-unternehmervereinigung-unterst%C3%BCtzt-sch%C3%BCler">Klicken Sie hier, um diesen Artikel online zu lesen!</a>
      </p>
      <p class="card-text">
        <small class="text-muted">
          veröffentlicht am 6.02.2019
        </small>
      </p>
    </div>
  </div>

</div>

<br id="ueberuns"><hr><br />

<h2 class="text-center">Über uns</h2><br />

<div class="fixed-height-container">
  <amp-img class="contain" alt="Alan Ostaszewski und Luca Dietrich" layout="fill" src="img/wir.webp">
    <amp-img fallback class="contain" alt="Alan Ostaszewski und Luca Dietrich" layout="fill" src="img/fallback/wir.jpg"></amp-img>
  </amp-img>
</div>

<br />

<p class="text-justify">
  Wir sind Alan Ostaszewski (links) und Luca Dietrich (rechts). Derzeit sind wir 16 Jahre alt und besuchen das Gauß Gymnasium in der elften Klasse. Informatik nimmt einen großen Teil unseres Lebens ein. Sowohl in der Schule innerhalb des Informatikunterrichtes, als auch in unserer Freizeit. Wir beschäftigen uns zum Beispiel nicht nur mit unseren, sondern auch mit den alltäglichen technischen Problemen unserer Familie und Nachbarn. Das hat uns auf die Idee gebracht, im näheren Umfeld unsere Hilfe für alle anzubieten, die sich von "professionellen" Unternehmen im Stich gelassen fühlen.
</p>
