---
layout: default
title: Kontaktmöglichkeiten
---

<h2>Telefon</h2>
<p>
  Wir sind unter dieser Telefonnummer für Sie erreichbar:
  <a href="tel:+491632539480">
    0163 2539480
  </a>
</p>
<p>
  Sie können uns mit der Telefonnummer...
</p>
<ul>
  <li>
    anrufen
  </li>
  <li>
    eine SMS/MMS schreiben
  </li>
  <li>
    eine WhatsApp Nachricht schreiben (keine WhatsApp Sprachanrufe möglich)
  </li>
</ul>

<h2>E-Mail</h2>
<p>
  Wir sind außerdem unter dieser E-Mail-Adresse für Sie erreichbar:
  <a href="mailto:kontakt@nachbarschafts-pc-hilfe.de">
    kontakt@nachbarschafts-pc-hilfe.de
  </a>
</p>
<p>
  Schildern Sie Ihre Frage oder Ihr Computerproblem einfach in einer E-Mail!
</p>
