---
layout: default
title: Meinungen
---

<p>
  Hier finden Sie Meinungen von Personen, denen wir schon mit ihren
  Computerproblemen geholfen haben. Wenn Sie möchten, ist Ihre auch bald
  darunter!
</p>
<br />
<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">
      {{ post.title }} — {{ post.day }}
    </a>
  </li>
  <br />
  {% endfor %}
</ul>
