---
layout: default
title: Service
---

<ul>
  <li>
    Anbindung von Computern, Laptops oder Smartphones an das Internet
  </li>
  <li>
    Verstärkung des W-Lan Empfangs
  </li>
  <li>
    Routertausch
  </li>
  <li>
    Problembehebung in Windows
  </li>
  <li>
    Installieren & Aktualisieren von diversen Gerätetreibern
  </li>
  <li>
    Installieren & Einrichtung von Programmen und Einführung
  </li>
  <li>
    Datensicherung auf eine externe Festplatte oder sonstiges Speichermedium
  </li>
  <li>
    Neuinstallation des Betriebssystems
  </li>
  <li>
    Aktualisieren des Betriebssystems (Service Packs, Patches) und der Software
  </li>
  <li>
    Ausführliche Virenüberprüfung und Virenbeseitigung aller Art
  </li>
  <li>
    Installieren & Einrichten des aktuellen Antivirenprogramms Kaspersky mit
    anschließender ausführlicher Überprüfung der Festplatte
  </li>
</ul>

<p>
  Sie haben Ihr spezielles Computerproblem doch nicht wiedergefunden?
  Kontaktieren Sie uns und wir helfen auch Ihnen mit Sicherheit weiter!
</p>
