<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3">&copy; 2019 Alan Ostaszewski, Luca Dietrich, Bootstrap</small>
      <amp-addthis width="320" height="92" data-pub-id="ra-5c5979f9978942a1" data-widget-id="o34f" data-widget-type="inline"></amp-addthis>
    </div>
    <div class="col-6 col-md">
      <h3>Startseite</h3>
      <br />
      <ul class="list-unstyled text-small">
        <li class="nav-item">
          <a class="text-muted" href="{% if page.title == 'home' %}#service{% else %}/#service{% endif %}">
            Unser Service
          </a>
        </li>
        <br />
        <li class="nav-item">
          <a class="text-muted" href="{% if page.title == 'home' %}#kontakt{% else %}/#kontakt{% endif %}">
            Kontakt
          </a>
        </li>
        <br />
        <li class="nav-item">
          <a class="text-muted" href="{% if page.title == 'home' %}#meinungen{% else %}/#meinungen{% endif %}">
            Meinungen
          </a>
        </li>
        <br />
        <li class="nav-item">
          <a class="text-muted" href="{% if page.title == 'home' %}#bekanntaus{% else %}/#bekanntaus{% endif %}">
            Bekannt aus
          </a>
        </li>
        <br />
        <li class="nav-item">
          <a class="text-muted" href="{% if page.title == 'home' %}#ueberuns{% else %}/#ueberuns{% endif %}">
            Über uns
          </a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h3>Mehr erfahren</h3>
      <br />
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="/kontaktmöglichkeiten.html">
            Kontaktmöglichkeiten
          </a>
        </li>
        <br />
        <li>
          <a class="text-muted" href="/meinungen.html">
            Meinungen
          </a>
        </li>
        <br />
        <li>
          <a class="text-muted" href="/social.html">
            Soziale Netzwerke
          </a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h3>Impressum</h3>
      <br />
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="/impressum/impressum.html">
            Impressum
          </a>
        </li>
        <br />
        <li>
          <a class="text-muted" href="/impressum/datenschutz.html">
            Datenschutzerklärung
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<amp-user-notification id="alert-cookie" layout="nodisplay">
  <div class="fixed-bottom" style="background-color:#f8f9fafb;padding:1.5rem;display:flex;align-items:center;justify-content:center">
    <div>
      Diese Website verwendet Cookies und Google Analytics für Analysen. Mehr
      Informationen finden Sie in unserer
      <a href="/impressum/datenschutz.html">
        Datenschutzerklärung
      </a>.&nbsp;&nbsp;
    </div>
    <button type="button" class="btn btn-alert btn-warning" aria-label="Verstecken" on="tap:alert-cookie.dismiss">
      Akzeptieren
    </button>
  </div>
</amp-user-notification>
