<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-primary">
  <a class="navbar-brand" href="{% if page.title == 'Startseite' %}#home{% else %}/{% endif %}">Nachbarschafts-PC-Hilfe<sup><small> SDT</small></sup></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if page.title == 'Startseite' %}
    <ul class="navbar-nav mr-auto nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#service">
          Unser Service
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#kontakt">
          Kontakt
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#meinungen">
          Meinungen
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#bekanntaus">
          Bekannt aus
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#ueberuns">
          Über uns
        </a>
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav mr-auto nav nav-pills">
      <li class="nav-item"><a class="nav-link" href="/">Startseite</a></li>
    </ul>
    {% endif %}
    <a class="btn btn-warning justify-content-end font-weight-bold p-0" href="tel:+491632539480" role="button">
      <label for="show" class="p-2 m-0">
        <span>
          <i class="icss-phone"></i> 0163 2539480
        </span>
      </label>
    </a>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid" style="background:url(/img/fallback/schwedt1.jpg) center center no-repeat">
  <div class="container">
    {% if page.title == 'Startseite' %}
    <h1 class="text-bg-jumbotron"><strong>Nachbarschafts-PC-Hilfe</strong></h1>
    <p class="text-bg-jumbotron">
      <strong>
        Wir reparieren Ihren Computer oder Laptop in Schwedt und der
        Umgebung!<br />
        Tel.: 0163 2539480 oder E-Mail: kontakt@nachbarschafts-pc-hilfe.de
      </strong>
    </p>
    <br id="service" />
    {% elsif page.category == 'meinung' %}
    <h1 class="text-bg-jumbotron">Meinung von {{ page.title }}</h1>
    {% else %}
    <h1 class="text-bg-jumbotron">{{ page.title }}</h1>
    {% endif %}
    <noscript>
      <span class="badge badge-warning">
        Warnung: Sie haben JavaScript in Ihrem Browser deaktiviert. Bitte
        aktivieren Sie es, um die Website im vollem Funktionsumfang nutzen zu
        können!
      </span>
    </noscript>
  </div>
</div>
