---
layout: default
category: meinung
title: Familie Wilke
image: familie-wilke
day: 20. August 2019
---
„Das Angebot, unseren Computer bezüglich der Arbeitsleistung zu verbessern, mündete in einer Neuanschaffung.
<br><br>
Mit einem Lächeln im Gesicht und dem Spruch: “Herr Wilke, ihr Computer ist älter als wir!", wurde der Weg geebnet, sich neuer Technik zuzuwenden. Innerhalb von zehn Tagen stand ein Minigerät auf dem Schreibtisch, das alle Funktionen des alten, großen Computers geräuschlos erfüllte und, viel wichtiger, viel, viel schneller war. In sieben Sekunden im Bildungsserver sichert schnelle Benotung. Auch alle anderen Funktionen laufen überragend schnell und seit fünf Monaten sehr zuverlässig.
<br><br>
Wir sind begeistert und danken dem jungen Team für die unkomplizierte und nachbarschaftliche Hilfe. Wir wünschen weiter viel Erfolg und immer gutes Gelingen, auch wenn es einmal komplizierter wird.“
<br><br>
<a href="https://www.youtube.com/watch?v=aR76044_waE">Wir haben einen Videobeitrag von unserer Arbeit gemacht. Klicken
  Sie hier, um ihn zu sehen.</a>
