---
layout: default
category: meinung
title: Marianne und Reinhard Zedow
image: marianne-und-reinhard-zedow
day: 7. Mai 2019
---
„Unser Laptop lief schon länger sehr langsam, besonders beim Starten. Da kam die Annonce der MOZ zur
„Nachbarschafts-PC-Hilfe“ der beiden Jungs gerade zur rechten Zeit.
<br><br>
Kurzfristig und spontan konnten wir einen Termin mit ihnen vereinbaren. Luca und Alan konnten die Probleme an unserem
Laptop schnell durch ihre Fachkenntnisse beheben. Ihnen gilt unser Dank und unsere Anerkennung für so viel
Professionalität in ihrem Alter!
<br><br>
Sie versprachen, uns auch in Zukunft bei Problemen weiterhin zu unterstützen.“
<br><br>
<a href="https://www.youtube.com/watch?v=OMIwOmnsbts">Wir haben einen Videobeitrag von unserer Arbeit gemacht. Klicken
  Sie hier, um ihn zu sehen.</a>
