---
layout: default
category: meinung
title: Silva Reiprecht und Hartmut Knispel
image: silva-reiprecht-und-hartmut-knispel
day: 28. Januar 2019
---
„Wir brauchten wieder einmal Hilfe bei der Arbeit mit dem PC. Der Computer war viel zu langsam; Datenmüll hatte sich
angesammelt, Programme waren auf dem PC, ohne dass diese benutzt wurden.
<br><br>
Eine kleine Postwurfsendung war der Auslöser! Zwei Schüler des „Gauß-Gymnasiums“ boten Hilfe und Unterstützung an. Ein
Termin wurde telefonisch schnell und unkompliziert vereinbart. Pünktlich kam die Hilfe, in Person Alan und Luca ins Haus
und mit wenigen Worten wurde erklärt, worum es uns ging. Schnell und kompetent wurden unsere Wünsche abgearbeitet.
Freundlich, zuvorkommend und mit einer nicht immer anzutreffenden Bescheidenheit wurde der eine oder andere Tipp für die
zukünftige Handhabung des PC gegeben. Während der Arbeit kamen uns noch andere Ideen, wie wir die kompetente Hilfe und
Unterstützung nutzen könnten. Der Stadtchor Schwedt/O e.V. hat z.B. eine Webseite, die jedoch nicht immer aktuell ist.
Also wollten wir lernen, wie wir diese redaktionell bearbeiten können. Auch hier war schnell ein Termin vereinbart und
von den beiden Jugendlichen pünktlich wahrgenommen. Ausdauernd und fachlich kompetent haben sie uns erste Handgriffe
beigebracht und versprochen, uns zukünftig weiter zu unterstützen.
<br><br>
Also, das ist eine Superidee von den Jugendlichen, eine solche Nachbarschaftshilfe für PC- Arbeit ins Leben zu rufen.
Wir können in jedem Fall unterstreichen, dass uns die Hilfe viel gebracht hat und wir diese auch zukünftig in Anspruch
nehmen werden.“
