---
layout: default
category: meinung
title: Monika und Hans-Dietrich Wannmacher
image: monika-und-hans-dietrich-wannmacher
day: 16. April 2019
---
„Eigentlich kommen wir gut mit unserem Laptop zurecht. Eigentlich!
<br><br>
Doch neulich saßen wir rettungslos fest. Wir hatten Probleme beim richtigen Einrichten unseres E-Mail Programms. Was
nun!
<br><br>
Wir erinnerten uns, dass zwei Schüler Hilfe bei Computerproblemen im Rahmen der Nachbarschaftshilfe angeboten haben.
Nach kurzer Verständigung rückte die 'Computer-Feuerwehr' an. Mit großem Fachwissen wurde das Problem in kurzer Zeit
erledigt. Wir bekamen alles verständlich erklärt und noch zusätzlich viele gute Ratschläge.
<br><br>
Danke an Alan und Luca, sie sind zwei tolle Jungs! Mit gutem Gewissen werden wir sie weiterempfehlen!“
