---
layout: default
category: meinung
title: Familie Jordan
image: familie-jordan
day: 21. Juni 2019
---
„Dankesworte für die schnelle und kompetente Hilfe!
<br><br>
Die zwei Schüler Luca und Alan von der Nachbarschafts-PC-Hilfe haben unseren langsamen, neun Jahre alten PC wieder fit
gemacht. Er läuft jetzt wieder viel schneller und man muss nicht mehr so lange warten, bis das gewünschte passiert. Wir
sind wirklich zufrieden und können sie nur wärmstens weiterempfehlen.
<br><br>
Wir wünschen den beiden schöne Ferien und nochmals vielen Dank!“
<br><br>
