---
layout: default
category: meinung
title: Jakob Daum
image: jakob-daum
day: 5. September 2019
---

„Mein PC stürzte immer wieder mit dem „Bluescreen“ – Fehler ab.
<br><br>
Wohlweislich hatte ich den Artikel in der MOZ aufgehoben, der über die Jungs von der „Nachbarschafts-PC-Hilfe“ berichtete und hatte mir auch den TV-Beitrag angesehen, der auf ihrer Homepage vermerkt war. Nach der Kontaktaufnahme war das Team der Nachbarschafts-PC-Hilfe umgehend zur Hilfe bereit. Sie haben die Fehler entdeckt und fachmännisch behoben, einschließlich von Materialbestellungen. Die Jungs sind nicht nur einfache „Schrauber“, die probieren und „mal“ sehen was passiert“. Sie wissen, was sie tun, haben auch Verbesserungsvorschläge und erklären dem Laien, was sie da tun und was im PC abläuft. (So man es einigermaßen versteht.) Jetzt habe ich wieder einen „runderneuerten und ertüchtigten“ PC.
<br><br>
Die Jungs können was! Dadurch hat man einfach Vertrauen in ihre Arbeit. Sie werden ihren Weg gehen. Dazu schon jetzt viel Erfolg dabei. Ob sie gleich eine „Firma mit 18 Jahren“ gründen oder nach einem Studium erst als IT-Fachmann in einem Unternehmen sich weiteres Rüstzeug erwerben (wäre meine Empfehlung), ist noch zu überlegen.
<br><br>
Mein Fazit: Ich kann das Team der „Nachbarschafts-PC-Hilfe“ wärmstens weiterempfehlen und mich auch weiterhin auf sie verlassen.“
