---
layout: default
category: meinung
title: Helga und Oswald Truppner
image: helga-und-oswald-truppner
day: 9. März 2019
---
„Anerkennende Worte für die beiden „fixen“ jungen Gymnasiasten Alan und Luca!
<br><br>
In Ermangelung einer Hilfeleistung durch unsere Enkel waren wir auf der Suche nach Unterstützung zur Klärung eines
Problems, welches an unserem PC aufgetreten war. Da fiel uns der Kurzbericht zum Einsatz der Jungs in Form von
Nachbarschaftshilfe auf, und wir suchten den Kontakt mit ihnen!
<br><br>
Wir können nur bestätigen, dass die beiden professionell unseren Computer mit Beschlag genommen und unsere ersten Fragen
verständlich beantwortet sowie unser Problem nach Erforschung des zu beseitigenden Mangels geprüft und diesen Mangel
behoben haben. Auf diese Weise können wir zukünftig besser schriftliche Dinge passender formulieren. Und darüber freuen
wir uns!
<br><br>
Wir bedanken uns für die Hilfe und das Angebot, uns bei zukünftigen Problemen gerne wieder zu unterstützen!“
