---
layout: default
category: meinung
title: Barbara und Günter Tuch
image: barbara-und-günter-tuch
day: 6. April 2019
---
„Nachbarschaftshilfe — im wahrsten Sinne des Wortes!
<br><br>
Auf meinem PC mit Windows 7 hatte sich massenhaft Datenmüll angesammelt und er war viel zu langsam. Als Nachbar von
Alans Familie habe ich ganz zufällig über den Zaun mit seiner Mutter über PC Probleme gesprochen. Sie schickte ihren
Sohn, der sich der Sache sofort annahm.
<br><br>
Gemeinsam mit seinem Spezi Luca hatte er die Lösung: Windows 7 raus — Austausch der Festplatte usw. — Installation von
Windows 10. Mein PC ist jetzt viel schneller als vorher, übersichtlicher und ohne Werbung! Und es sind sogar noch all
meine Daten vorhanden!
<br><br>
Jetzt machen die Sitzungen am PC wieder Spaß!“
