---
layout: default
title: Impressum
---
<h2>Verantwortliche:</h2><br>

<span id="s3-t-verantwortliche">Luca Dietrich und Alan Ostaszewski</span><br>
<span id="s3-t-telefon">Handy: 0163 2539480</span><br>
<span id="s3-t-email">E-Mail: kontakt@nachbarschafts-pc-hilfe.de</span><br>
<br><h2>Postalisch zu erreichen unter:</h2><br>
<span id="s3-t-firma">Unternehmervereinigung Uckermark e. V.</span><br>
<span id="s3-t-strasse">Berliner Straße 52e</span><br>
<span id="s3-t-stadt">16303 Schwedt/Oder</span><br>
<span id="s3-t-telefon">Telefon: 03332 2670910</span><br>
<span id="s3-t-telefax">Telefax: 03332 2670914</span><br>
<span id="s3-t-strasse">Vereinsregister</span><br>
<span id="s3-t-strasse">Amtsgericht Neuruppin</span><br>
<span id="s3-t-strasse">VR 3036 NP</span><br>
<span id="s3-t-steuernummer">Steuer-Nr.: 062/142/00196</span><br>
<span id="s3-t-ansprechpartner">Dr.-Ing. Ulrich Menter</span><br>
<span id="s3-t-firma">Beratungsunternehmen Dr. Menter</span><br>
<span id="s3-t-strasse">Hahnenfußweg 10</span><br>
<span id="s3-t-stadt">16303 Schwedt/Oder</span><br>
<span id="s3-t-telefon">Telefon: 03332 8380610</span><br>

<br><hr><br>

<h3>Disclaimer</h3><br>
<p>Dieses Schülerprojekt wird durch die Unternehmervereinigung Uckermark e. V. unterstützt. Die Schüler erbringen die Leistung im Rahmen der Nachbarschaftshilfe ohne Berechnung, freuen sich aber über ein Trinkgeld. Jede Haftung für Schäden, sei es an Soft- oder Hardware oder auch durch Datenverlust ist ausgeschlossen. Die Unternehmervereinigung Uckermark e.V. und die Schüler lehnen jede Haftungsübernahme oder Schadensersatz ab. Falls Sie damit nicht einverstanden sind, nehmen Sie die Leistung bitte nicht in Anspruch.</p>
<h4>Haftung für Inhalte</h4><br>
<p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
<br><h4>Haftung für Links</h4><br>
<p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
<br><h4>Urheberrecht</h4><br>
<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>

<br><hr><br>

<p>Quelle: https://www.e-recht24.de/muster-disclaimer.html</p>
